* { box-sizing: border-box; }

aside,section {
  display: block;
}

body {
  margin: 0;
  font: 12px OpenSans, Helvetica;
  background: #eae9e7;
}

/*----------------------------------------------
 * =structure
 *---------------------------------------------- */

.header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.sidebar {
  flex: 1;
  transform: translate3d(-335px, 0, 0);
  background: #3EA86B;
  overflow-y: scroll;
  border-right: 1px solid #328756;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all .3s;
}

.container {
  display: flex;
  height: 100vh;
}

.canvas {
  flex: 4;
  height: 100vh;
}

.stats {
  flex: 1;
  height: 100vh;
  background: #e5e4e2;
  border-left: 1px solid #d2d0cc;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .canvas {
      flex: 3
    }
}

/*----------------------------------------------
 * header
 *---------------------------------------------- */

 .header-title {
   margin: 0;
   padding: 0;
   display: inline-block;
   font-family: OpenSans;
   font-size: 18px;
 }

 .hamburger {
   border: 0;
   background: #fff;
   color: #3EA86B;
   outline: none;
   cursor: pointer;
 }

 .hamburger:before {
   content:'\2630';
   font-size: 20px;
 }

 .hamburger:hover {
   color: #328656;
 }

 /*----------------------------------------------
  * sidebar
  *---------------------------------------------- */

.sidebar.expanded {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.demographics {
  list-style: none;
  margin: 0;
  padding: 0;
}

.demographics li a {
  border-right: 6px solid #000;
}

.demographics li.x00 a {
  border-right-color: #6E944C;
}

.demographics li.x01 a {
  border-right-color: #3D9977;
}

.demographics li.x02 a {
  border-right-color: #3796A0;
}

.demographics li.x03 a {
  border-right-color: #758AB1;
}

.demographics li.x04 a {
  border-right-color: #AF79A1;
}

.demographics li.x05 a {
  border-right-color: #CD6D7A;
}

.demographic-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #3a9d64;
}

.demographic-link.selected {
  background-color: #fff;
  color: #111;
}

.demographic-link:hover {
  color: #E8D151;
}

.details {
  overflow: hidden;
  opacity: 0.6;
}

/*----------------------------------------------
 * properties
 *---------------------------------------------- */
.section {
  border-bottom: 1px solid #d5d3cf;
  min-height: 100px;
}

.description {
  padding: 20px;
  min-height: 0;
}

.property-list {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

.property-list td, .property-list th {
  padding: 5px;
  border: 1px solid #d9d8d4;
  border-left: 0;
  text-alin: left;
}

.property-list tr:first-child td,
.property-list tr:last-child td,
.property-list tr:first-child th {
  border: none;
}

.property-list th {
  text-align: right;
  width: 1%; /*stupid table tricks dot com */
}

.top-list .property-list th {
  text-align: left;
}

/*----------------------------------------------
 * histogram
 *---------------------------------------------- */
.histogram {
  padding: 20px 0;
}

.histogram svg {
  margin: 0 auto;
}

.histogram .domain {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispedges;
}

.histogram text {
  font-size: 11px;
  fill: #555;
}

.histogram rect {
  shape-rendering: crispedges;
  fill: #9e270d;
}

.histogram .count {
  font-size: 9px;
  text-anchor: middle;
}

.histogram .tick line {
  stroke: #ccc;
}

/*----------------------------------------------
 * map
 *---------------------------------------------- */

svg {
  display: block;
}

.land {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1;
}

.counties path {
  fill: #dddcda;
  shape-rendering: crispedges;
}

.county-mesh {
  fill: none;
  stroke: #fff;
  stroke-opacity: 0.1;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-opacity: 0.3;
}
